/*
    Author: Alejandro Hernandez Alamina
*/ 
html , body {
    height: 100%; 
    font-family: 'Baloo Bhaina', cursive;
}
.home-container{
    background: #f0db66; 
    height: 100%;
} 
.home-row{
    padding-top: calc(20% - 8em);
    text-align: center;
}
.home-title{
    font-size: 15em;
    line-height: 0.5;
    margin-top: 20%;
    color: #264653; 
}
.home-subtitle{
    font-size: 2em; 
    color: #e76f51;
} 
.home-row .bordertl{
    border-right: 5px solid;
    border-right-color: #28666E;
}
.ducky-art{
    font-size: 7em;  
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    color: #264653;
} 
.about-container{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #28666E;
} 
.about-description{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #28666E;
} 
.puddle-grass{
    background: #518168;
    height: auto;
    padding: 35px 0 0 35px; 
    margin-bottom: 5em;
} 
.puddle-grass .p-container{
    position: absolute;
    width: 100%;
    height: 200px;
} 
.p-container .p_1, .p_2, .p_3, .p_4 {
    position: absolute;
    letter-spacing: 6px;
    top: -13%;
    color: #1F5F32;
} 
.p_1{ left: 2%;}
.p_2{ left: 34%;}
.p_3{ left: 68%;} 
.puddle-shadow{
    background: #47624f; 
    height: 200px; 
    padding: 10px 0 0 10px;
} 
.puddle-water{ 
    height: 190px;
    background: #2FC6F1;
} 
.puddle-ducks{
    font-size: 1em; 
    font-weight: 700; 
    color: #f0db66;
} 

.team-card{

}
.team-icontainer{

}
.team-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}